/*************************************************** 
* Last edited by: MCHIEM
* Date modified: 10-01-2012
* CMS Version: 1
* Ticket No.: (Gigya Integration)
***************************************************/

/* DO NOT DELETE ANYTHING BELOW THIS - FOR ADDITIONAL FIXES ----------------------- */ 
.stumbleupon table, .stumbleupon table tr, .stumbleupon table tr td {vertical-align:top;}
.stumbleupon table tr td span {vertical-align:top;}
/* DO NOT DELETE ANYTHING ABOVE THIS ----------------------- */ 

.gigya-screen *, div.gigya-screen, .gigya-screen span, .gigya-screen a:hover, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active {border:none;padding:0px;margin:0px;color:inherit;text-decoration:none;width:auto;float:none;-moz-border-radius:0;border-radius:0;font-family:arial;font-size:12px;color:#333333;background:none;text-align:left;font-family:arial;}
.gigya-screen a, .gigya-screen a:visited, .gigya-screen a:link, .gigya-screen a:active {color:#0098ca;text-decoration:underline;}
.gigya-screen-set .gigya-screen {margin:0 auto;}
.gigya-screen h2 {font-size:16px;color:#333;font-weight:normal;}
.gigya-screen a:hover {text-decoration:none;}
.gigya-screen h1 {border-bottom:1px solid #dbdbdb;font-size:16px;font-family:Arial;font-weight:bold;color:#333;padding-bottom:5px;margin-bottom:45px;}
.gigya-screen .gigya-layout-row {width:100%;zoom:1;float:left;}
.gigya-screen .gigya-layout-cell {float:left;width:50%;margin-top:1px;}
.gigya-screen .gigya-layout-cell-right {float:right;width:50%;}
.gigya-screen select {margin:5px 0px;padding:5px;border-radius:5px;background-color:#FFFFFF;border:1px solid #CCCCCC;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;}
.gigya-screen option {padding:5px;}
.gigya-screen option:hover {background-color:#3593C1;}
.gigya-screen .gigya-label {display:block;font-weight:bold;font-size:12px;}
.gigya-screen .gigya-required {color:red;font-size:12px;font-weight:bold;margin-left:5px;}
.gigya-input-text, .gigya-input-password, .gigya-textarea {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;margin:5px 0px;padding:0 5px;border-radius:4px;background-color:#FFFFFF;border:1px solid #CCCCCC;color:#555555;outline:none;box-shadow:inset 0 1px 3px rgba(0, 0, 0, .05);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .05);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .05);}
.gigya-textarea {padding:5px;}
.gigya-input-text, .gigya-input-password, .gigya-screen select, .gigya-input-submit, .gigya-input-button {height:28px;}
.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus, .gigya-screen select:focus {border:1px solid #87B9EA;outline:none;}
.gigya-input-text:focus, .gigya-input-password:focus, .gigya-textarea:focus {box-shadow:0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05);-webkit-box-shadow:0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05);-moz-box-shadow:0 0 3px #50BADE, inset 0 1px 3px rgba(0, 0, 0, .05);}
.gigya-input-submit, .gigya-input-button {border:1px solid #CECECE;cursor:pointer;padding:0 12px;color:#333333;font-weight:bold;border-radius:4px;line-height:26px;background:#F2F2F2;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#F2F2F2");background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F2F2F2));background:-moz-linear-gradient(top, #FFFFFF, #F2F2F2);}
.gigya-input-submit:hover, .gigya-input-button:hover {background:#FFFFFF;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#F2F2F2", endColorstr="#FFFFFF");background:-webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#FFFFFF));background:-moz-linear-gradient(top, #F2F2F2, #FFFFFF);}
.gigya-input-radio, .gigya-input-checkbox {margin-right:5px;vertical-align:bottom;height:14px;width:14px;}
input.gigya-input-text, input.gigya-input-password {display:block;}
.gigya-screen .gigya-composite-control {padding:5px 13px 5px 10px;}
.gigya-screen .gigya-composite-control-submit, .gigya-screen .gigya-composite-control-button, .gigya-screen .gigya-composite-control-form-error {padding-bottom:5px;padding-right:13px;}
.gigya-composite-control-form-error {padding-bottom:5px;padding-right:5px;}
.gigya-screen .gigya-composite-control-submit {text-align:right;}
.gigya-screen .gigya-composite-control-label {display:block;}
.gigya-clear {clear:both;overflow:hidden;}
.gigya-composite-control-radio label {font-weight:normal;}
.gigya-composite-control-checkbox label {font-weight:normal;}
.gigya-screen .gigya-composite-control-checkbox {padding:5px 10px;}
.gigya-screen .gigya-composite-control-checkbox label {display:inline;text-indent:10px;margin-left:0px;}
.gigya-screen .gigya-message {font-size:14px;color:#333;display:block;text-align:center;}
.gigya-screen .gigya-error-display {display:block;visibility:hidden;}
.gigya-screen .gigya-error-display-active {display:block;visibility:visible;}
.gigya-screen .gigya-error-msg {line-height:14px;color:#dd4b39;font-size:11px;display:block;font-weight:normal;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.gigya-screen .gigya-form-error-msg {_height:26px;min-height:26px;line-height:14px;color:#dd4b39;font-size:11px;text-align:center;margin-top:1px;border:1px solid #FFDCCE;display:block;background:#FFE7E1;font-weight:normal;padding:5px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.gigya-screen a.gigya-composite-control-link {display:block;padding-left:13px;}
.gigya-screen .gigya-composite-control a.gigya-composite-control-link {display:inline;padding:0px;}
.gigya-screen .gigya-composite-control-checkbox .gigya-label, .gigya-screen .gigya-composite-control-radio .gigya-label {font-weight:normal;}
.gigya-layout-footer {text-align:right;clear:both;}
#gigya-login-screen .gigya-composite-control-social-login, #gigya-register-screen .gigya-composite-control-social-login {border-right:1px solid #CCC;height:125px;width:285px;padding:13px 38px 0 0px;}
#gigya-register-screen .gigya-composite-control-social-login {height:240px;}
